@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
.container {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 80px 1fr 40px;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: center;
  background-color: lightpink;
  gap: 20px;
  padding-top: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Make header the top element as its the only z-index */
}

header > button {
  height: 60px;
  width: 100px;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

header > button:hover {
  cursor: pointer;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("pig_background.jpg");
  background-size: contain;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 900px;
  min-height: 1000px;
  background-color: lightpink;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content-box > div {
  border-radius: 1rem;
  border-width: 5px;
  border-color: rgba(233 136 138);
}

.title {
  width: 600px;
  height: 100px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

.title > img {
  height: 100px;
  position: absolute;
}

.title > img:first-child { /* Select the first image */
  left: 0px;
}

.title > img:last-child { /* Select the second image */
  right: 0px;
}

.testimony {
  border: solid;
  width: 400px;
  height: 200px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.testimony > div:first-child {
  padding-left: 1rem;
  padding-right: 1rem;
}

.testimony > div:nth-child(2) {
  align-self: flex-start;
  font-size: 1.2rem;
  padding-left: 3rem;
}

.hours {
  border: solid;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hours > div:first-child {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.hours > div:nth-child(n+2) {
  text-align: center;
}

.location {
  border: solid;
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location > div:first-child {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.location > div:nth-child(n+2) {
  text-align: center;
}

.menu-title {
  width: 300px;
  height: 100px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  margin-top: 3rem;
}

.menu-title > img {
  position: absolute;
  height: 80px;
  top: -55px;
}

.menu-description {
  border: solid;
  width: 400px;
  height: 400px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  position: relative;
}

.menu-description > div:first-child {
  font-size: 1.5rem;
}

.menu-description > div:nth-child(n+2) { /* Select 2nd div child onwards */
  padding-left: 1.5rem;
}

.menu-description > div:nth-child(3) {
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-description > img {
  max-height: 200px;
  max-width: 300px;
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.title {
  width: 600px;
  height: 100px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 40px;
  margin-top: 3rem;
}

.selected-tab {
  background-color: rgba(233 136 138);
}
